 {% extends 'blog/base.html' %}

{% block content %}
	 <div>
	            <p>yayınlandı: 26.09.2016, 00.03</p>
	            <h2><a href="">İlk Blogum</a></h2>
	            <p>İlk bloğum ve ilk blog yazım. Python ve Django'yu öğrenmeye çalışıyorum. </p>
	        </div>

	        <div>
	            <p>yayınlandı: 26.09.2016, 00.03</p>
	            <h2><a href="">İkinci gönderim</a></h2>
	            <p>Bir template oluşturmayı ve bu template in server da nasıl göründüğünü anlamaya çalışıyorum.</p>
	        </div>
	 {% for post in posts %}
	<div class="post">
        {% if post.yayinlama_tarihi %}
            <div class="date">
                {{ post.yayinlama_tarihi }}
            </div>
        {% endif %}
        <h1>{{ post.baslik }}</h1>
        <p>{{ post.yazi|linebreaksbr }}</p>
    </div>
	{% endfor %}
{% endblock content %}










